:root {
    --weight: 64px;
}


p {
    font-size: cal(var(--weight)/3);
}
header img {
    border-radius: 100px;
    aspect-ratio: 1/1;
    height: 50px;
}

header {
    position: fixed;
    top: 10px;
    left: 50%;
    padding: 10px 50px; 
    border-radius: 100px;
    border: 1px groove var(--clr-dark);
    box-shadow: inset 0 0 2px 0 var(--clr-dark);
    background: rgba(255, 255, 255, 0.43);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    margin-inline: auto;
    transform: translateX(-50%);
    z-index: 999;
}

main {
    padding-block: 100px;
}

h1,h2,p {
    text-align: center;
}
section {
    padding-block: 40px;
}

#social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 40px; 
    gap: 40px;
}

#social >*{
    border-radius: 10px;
    background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
    box-shadow: 2px 2px 4px 0 var(--clr-dark),
    inset 0 0 2px 0 var(--clr-primary);
    padding: 20px;

    display: grid;
    justify-items: center;
    gap: 8px;
}

#social form {
    display: grid;
    gap: 10px;
}

#social form input {
    padding: 5px 10px;
    border-radius: 10px;
}

#social img {
    border-radius: 100px;
    box-shadow: 0 2px 0 1px var(--clr-dark);
    padding: 10px;
}

.details {
    gap: 20px;
    align-items: flex-end;
}

form#userDetails >input, form#userDetails >textarea{
    
    width: minmax(50%,200px);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 0px 2px var(--clr-dark);

}

.profile-links > * {
    font-weight: bold;
    padding-block: 15px;
    background: linear-gradient(rgb(255, 222, 233) 0%, rgb(181, 255, 252) 100%);
    box-shadow: inset 0 0 4px 1px var(--clr-dark);
    width: 330px;
    position: relative;
    border-radius: 4px;
    text-align: center;
    transition-duration: 0.5s;
    
}

.profile-links > *:hover {
    transform: scale(1.05);
}


#editlinks {
    background-color:beige;
    padding-inline: 20px;
    margin-inline: auto;
    width:fit-content;
    border-radius: 20px;
}

section#preview {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: relative;
}

.sticky-view {
    position: sticky;
    top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dlt-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.mobile-preview {
    border: 7px solid var(--clr-dark);
    border-radius: 8px;
    height: 650px;
    width: 400px;
    box-shadow: inset 0 0 10px 0 var(--clr-dark);
    position: relative;
    overflow: scroll;
}



.notch {
    width: 200px;
    height: 12px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    background-color: var(--clr-dark);
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px 0 var(--clr-dark);
}



main.demo{
    padding-top: 120px;
    padding-bottom: 80px; 
}
.preview-header {
    position: absolute;
    top: 30px;
    left: 50%;
    padding: 4px 10px; 
    border-radius: 100px;
    border: 1px groove var(--clr-dark);
    box-shadow: inset 0 0 2px 0 var(--clr-dark);
    background: rgba(255, 255, 255, 0.43);
    margin-inline: auto;
    transform: translateX(-50%);
    justify-content: space-between;
}
.preview-header img, .footer img {
    
        border-radius: 100px;
        aspect-ratio: 1/1;
    
    
        height: 50px;
    
    
}
.profile-img {
    border-radius: 100px;
    aspect-ratio: 1/1;
    height: var(--weight);
    border: 1px solid var(--clr-light);
}

.icon {
    border: 1px solid var(--clr-dark);
    border-radius: 100px;
    background-color: var(--clr-light);
    position: absolute;
    right: -12px;
    top: -4px;
    padding: 10px;
}

/* Choices section */

.choices h2{
 padding-bottom: 20px;
}

.image-option {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;

}

.fixed-btn {
    position: fixed;
    bottom: 20px;
    right: 50px;
    display: grid;
    gap: 20px;
}

.fixed-btn >* {
    background-color: var(--clr-primary);
    display: inline-block;
    width: 80px;
    aspect-ratio: 1/1;
    border-radius: 100px;
    position: relative;
    box-shadow: 0 0 10px 0 var(--clr-dark);
}

.fixed-btn >*:hover {
    transform: scale(1.1);
    transition-duration: 500ms;
}

.fixed-btn span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.material-symbols-outlined {

    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
  